* {
  color: #DBE4EE;
}

body {
  background-color: #054A91;
}

header {
  background-color: #3E7CB1;
  margin-bottom: 30px;
}

header h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  font-size: 50px;
}

/* Formats nav for mobile */
header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #DBE4EE;
  margin: 0 20px 0 0;
  font-size: 20px;
}

header nav ul li:last-child a {
  margin-right: 0;
}

header nav ul li a:hover {
  color: #F39A9D;
}

/* Main content */
main {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

img.round {
  border-radius: 50%;
}

#hello {
  font-size: 35px;
  font-weight: normal;
}

p {
  font-size: 20px;
  line-height: 2;
}

#about-me h2, #projects, #contact-me h2 {
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  text-align: center;
}

p a {
  padding: 10px;
  margin: 10px;
  border-style: solid;
  text-decoration: none;
}

/* Formats wrapper, group, and item for mobile */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

/* Contact Form */
form {
  margin: 0 20px;
  text-align: left;
}

form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input, form textarea {
  width: 100%;
  color: #054A91;
}

form textarea {
  height: 200px;
}

form button {
  margin-top: 10px;
  color: #054A91;
}

/* Formats wrapper, header, nav, and group for desktop */
@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  header h1 {
    margin: 12px 0;
    padding-top: 6px;
    font-size: 40px;
  }

  header nav {
    margin-top: 15px;
  }
}

#about-me, #contact-me {
  background-color: #0e335e;
  padding: 10px 0;
}

footer {
  background-color: #3E7CB1;
  padding: 10px 0;
  text-align: center;
}

/* Links in contact section */
#contact-me ul {
  list-style: none;
}

#contact-me ul li {
  padding: 10px 0;
  font-size: 20px;
  text-align: left;
}

#contact-me a:hover, p a:hover{
  color: #e7121c; 
}